.obsidian
.obsidian/
.vault-stats

.vault-stats
.DS_Store
Stanford/Y4Q2/PHIL 170/.DS_Store
Stanford/Y4Q2/PHIL 170/Readings/.DS_Store
.obsidian/workspace
.obsidian/graph.json
.obsidian/appearance.json
.obsidian/app.json
Stanford/.DS_Store